<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.test.drug_app">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permission: Writing to SDCard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Main"></activity>
        <activity
            android:name=".NotificationView"
            android:label="Details of notification"
            android:parentActivityName=".Drug3">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Drug3" />
        </activity>
        <activity
            android:name=".Drug2"
            android:parentActivityName=".Drug" />
        <activity
            android:name=".Drugrec"
            android:parentActivityName=".Drug" />
        <activity
            android:name=".Drug3"
            android:parentActivityName=".Drug" />
        <activity
            android:name=".Parse"
            android:parentActivityName=".Drug" />
        <activity
            android:name=".DrugList"
            android:parentActivityName=".Drug" />
        <activity android:name=".AddDrug" />
        <activity android:name=".ModifyDrug" />
        <activity android:name=".DataBaseHelper" />
        <activity android:name=".Drug">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <receiver android:name=".MyBroadcastReceiver">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_STATE" />
                <action android:name="android.hardware.usb.action.USB_STATE" />
            </intent-filter>
        </receiver>
        <provider
            android:authorities="com.test.drug_app.Dictionary"
            android:name="com.test.drug_app.Provider"
            android:exported="true"/>
    </application>

</manifest>